* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #e1e1e1;
    color: #333;
    line-height: 1.6;
}

/* Nav Bar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    background-color: rgba(79, 79, 79, 0.95);
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 1.8em;
    font-weight: bold;
}

.i {
    color: #0588d9;
}

.t {
    color: black;
}

.store {
    color: white;
}

.nav-links {
    position: relative;
    right: 350px;
    display: flex;
    list-style: none;
    align-items: center;
}

.nav-links li {
    margin: 0 20px;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-links li a:hover {
    color: #909090;
}

.nav-right {
    display: flex;
    align-items: center;
}

.social-icons a {
    margin: 0 10px;
    color: white;
    font-size: 1.2em;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #909090;
}

/*
.cta-button {
    padding: 10px 20px;
    background-color: #808080;
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-left: 20px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}*/

.cta-button:hover {
    background-color: #707070;
}

section {
    min-height: 100vh;
}

.small-section {
    padding: 50px;
    min-height: auto;
}

/* Landing Page */
.landing-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    background-color: #656565;
    color: white;
    padding: 50px 100px;
}

.landing-text {
    max-width: 600px;
}

.landing-text h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 4em;
    line-height: 1.2;
}

.landing-text .with {
    color: #ff6f61;
}

.landing-text p {
    margin: 20px 0;
    font-size: 1.8em;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    font-weight: bold;
    color: #e0e0e0;
}

.landing-text button {
    padding: 15px 30px;
    background-color: #ff6f61;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.landing-text button:hover {
    background-color: #ff4e42;
}

.iot-image {
    height: 400px;
}

/* Catalog */
/* Catalog Section Styles */
.catalog-section {
    padding: 20px;
    background-color: #f9f9f9;
}

.catalog-section h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
    color: #333;
}

.filters {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.filters label {
    margin-right: 10px;
    font-weight: bold;
}

.filters select {
    margin-right: 20px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 15px;
    width: calc(25% - 40px); /* Adjust width as needed */
    box-sizing: border-box;
    text-align: center;
    transition: transform 0.2s;
}

.product-card:hover {
    transform: translateY(-5px);
}

.product-card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.product-card h3 {
    font-size: 1.2em;
    margin: 10px 0;
    color: #555;
}

.product-card p {
    font-size: 1em;
    color: #777;
}

.add-to-cart-button {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.add-to-cart-button:hover {
    background-color: #218838;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.pagination button:hover {
    background-color: #0056b3;
}

.pagination span {
    display: inline-block;
    padding: 10px;
    font-weight: bold;
    color: #333;
}